body {font-family: Helvetica, sans-serif; background-color: #222; }
.container { width: 90%; margin: 0 auto; background-color: #EEE; padding: 3%;}

#output { font-family: 'Andale Mono', monospace; font-size: 12px; padding: 2%; background-color: #FFF; min-height: 400px;}
textarea#text_input { width: 40%; height: 80px; vertical-align: text-top;}